<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demotest.mapper.PositionMapper">
<!--    <select id="getallpos" resultType="com.example.demotest.pojo.Position" >-->
<!--        SELECT *-->
<!--        from Position-->
<!--    </select>-->

<!--    <delete id="deleteOnepos" parameterType="Integer">-->
<!--        delete from Position-->
<!--        where posid = #{posid}-->
<!--    </delete>-->

    <insert id="insertpos" parameterType="com.example.demotest.pojo.Position">
        INSERT INTO Pos
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != posid   and '' != posid">
                posid ,
            </if>
            <if test="null != posname and '' != posname">
                posname,
            </if>
            <if test="null != responsibility and '' != responsibility">
                responsibility
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != posid   and '' != posid">
                #{posid} ,
            </if>
            <if test="null != posname and '' != posname">
                #{posname},
            </if>
            <if test="null != responsibility and '' != responsibility">
                #{responsibility}
            </if>
        </trim>
    </insert>


    <update id="updatepos" parameterType="com.example.demotest.pojo.Position">
        UPDATE Pos
        <set>
            <if test="null != posname and '' != posname">posname = #{posname},</if>
            <if test="null != responsibility and '' != responsibility">responsibility = #{responsibility},</if>
        </set>
        WHERE posid = #{posid}
    </update>
    <select id="selectbyTiaoJianpos" resultType="com.example.demotest.pojo.Position">
        select *
        FROM Pos
        <where>
            <if test="null != posname and '' != posname">
                posname like concat('%', #{posname}, '%')
            </if>
            <if test="null != responsibility and '' != responsibility">
                and responsibility like concat('%', #{responsibility}, '%')
            </if>
        </where>
    </select>
    <select id="getposid" resultType="Integer">
        select posid
        from pos
    </select>
    <select id="getposcount" resultType="Integer">
        select count(*)
        from pos
    </select>
</mapper>